---
author: Alexander Naumann
title: Markdown Slides | Overview
description: Overview of slides by Alexander Naumann
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
<!--  <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>  -->
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">

# Hocking College CyberSecurity Awareness Campaign
___
## 	Passwords, Passphrases, Passkeys 
___
### as defined by NIST 800-63B
___
#### Taking your Cyber Hygienics to the max
___
by Andy Graybeal  

October 2025

<br>

[Slides](/slides/passwords)


<br>
<br>


            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
